* {
    font-family: Tahoma, sans-serif;
    user-select: none;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 0.5fr);
}

.gameboard {
    width: 550px;
    height: 550px;
    grid-column: 2/3;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px;
}

.griditem {
    background-color: white;
}
.griditem:nth-of-type(1) {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(2) {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(3) {
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(4) {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(5) {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(6) {
    display: flex;
    grid-column: 3/4;
    grid-row: 2/3;
    border-bottom: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(7) {
    display: flex;
    grid-column: 1/2;
    grid-row: 3/4;
    border-right: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(8) {
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
    border-right: black 2px solid;
    font-size: 100px;
    justify-content: center;
}

.griditem:nth-of-type(9) {
    display: flex;
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 100px;
    justify-content: center;
}


.griditem:nth-of-type(1):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(2):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(3):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(4):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(5):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(6):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(7):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(8):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(9):hover {
    filter: brightness(94%);
}

.textinput:nth-of-type(1) {
    appearance: none;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0px;
    width: 99%;
}

form > label:nth-of-type(1) {
    appearance: none;
}

form > label:nth-of-type(2) {
    appearance: none;
}

#username1button {
    appearance: none;
    border: 1px solid gray;
    padding: 10px 20px;
    width: 100%;
}

#username2button {
    appearance: none;
    border: 1px solid gray;
    padding: 10px 20px;
    width: 100%;
}

#startgame {
    appearance: none;
    border: 1px solid gray;
    grid-column: 2/3;
    grid-row: 6/7;
}

.resetbutton {
    appearance: none;
    border: 1px solid gray;
    grid-column: 2/3;
    grid-row: 8/9;
}

.player1formelements {
    grid-column: 1/2;
    grid-row: 2/3;
}

.player2formelements {
    grid-column: 3/4;
    grid-row: 2/3;
}

form {
    grid-column: 1/4;
    grid-row: 4/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) 40px 40px 40px 40px;
}

button:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
    filter: brightness(94%);
}

.player1stats {
    border: 2px black solid;
    width: 300px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player1name,
.player1points,
.player1wins {
    display: flex;
    padding-left: 10px;
    border: 2px black solid;
    font-size: 15px;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.player2stats {
    border: 2px black solid;
    width: 300px;
    height: 300px;
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player2name,
.player2points,
.player2wins {
    display: flex;
    padding-left: 10px;
    border: 2px black solid;
    font-size: 15px;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.playernum1, 
.playernum2 {
    margin-bottom: 10px;
}