* {
    font-family: Tahoma, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 0.5fr);
    overflow: hidden;
}

.gameboard {
    width: 550px;
    height: 550px;
    grid-column: 2/3;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0px;
}

.griditem {
    background-color: white;
}
.griditem:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 2/3;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 2/3;
    border-bottom: black 2px solid;
}

.griditem:nth-of-type(7) {
    grid-column: 1/2;
    grid-row: 3/4;
    border-right: black 2px solid;
}

.griditem:nth-of-type(8) {
    grid-column: 2/3;
    grid-row: 3/4;
    border-right: black 2px solid;
}

.griditem:nth-of-type(9) {
    grid-column: 3/4;
    grid-row: 3/4;
}


.griditem:nth-of-type(1):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(2):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(3):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(4):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(5):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(6):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(7):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(8):hover {
    filter: brightness(94%);
}

.griditem:nth-of-type(9):hover {
    filter: brightness(94%);
}

.textinput:nth-of-type(1) {
    appearance: none;
    position: relative;
    top: 50px;
    border: 1px solid gray;
}

form > label:nth-of-type(1) {
    appearance: none;
    position: relative;
    top: 30px;
}

.textinput:nth-of-type(2) {
    appearance: none;
    position: relative;
    top: 9px;
    left: 370px;
    border: 1px solid gray;
}

form > label:nth-of-type(2) {
    appearance: none;
    position: relative;
    top: -10px;
    left: 286px;
}

#username1button {
    appearance: none;
    border: 1px solid gray;
    position: relative;
    top: 62px;
}

#username2button {
    appearance: none;
    border: 1px solid gray;
    position: relative;
    top: 20px;
    left: 370px;
}

#startgame {
    appearance: none;
    border: 1px solid gray;
    position: relative;
    top: 100px;
    left: 150px;
}

button:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

.player1stats {
    border: 2px black solid;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 175px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player1name,
.player1points,
.player1wins {
    display: flex;
    padding-left: 10px;
    border: 2px black solid;
    font-size: 15px;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.player2stats {
    border: 2px black solid;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player2name,
.player2points,
.player2wins {
    display: flex;
    padding-left: 10px;
    border: 2px black solid;
    font-size: 15px;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

.playernum1, 
.playernum2 {
    margin-bottom: 10px;
}